@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<section class="conact-partial">
    <div class="row">
        <div class="small-12 medium-6 medium-centered columns">
            <h3>Like what you see?</h3>
            <p>You can get in touch with me for a quote, ask a question or tell me about your company via phone or email.</p>
            <a class="btn btn-inverse" href="/Contact/">Contact</a>
        </div>
    </div>
</section>