@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<header class="header">
    <div class="row">
        <div class="small-12 columns">
            <a id="nav-toggle" href="#menu-mobile"><span></span></a>


            <div class="header-container">
                <a href="/" class="logo">
                    <img src="/media/1001/logo.png" />
                </a>

                <div id="menu-mobile">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/About/">About</a></li>
                        <li><a href="/Portfolio/">Portfolio</a></li>
                        <li><a href="/Blog/">Blog</a></li>
                        <li><a href="/Contact/">Contact</a></li>
                    </ul>
                </div>

                <nav id="desktop-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/About/">About</a></li>
                        <li><a href="/Portfolio/">Portfolio</a></li>
                        <li><a href="/Blog/">Blog</a></li>
                        <li><a href="/Contact/">Contact</a></li>
                        <li>
                            <div id="searchbox">
                                <input id="srch-input" class="search-input" placeholder="Site Search" value="" onkeypress="if (event.keyCode == 13) location = '/search-results?Keywords=' + document.getElementById('srch-input').value" />

                                <a href="#" class="search-icon">
                                    <i class="fa fa-lg fa-search"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>


