@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ var home = CurrentPage.Site(); }

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/About/">About</a></li>
    <li><a href="/Portfolio/">Portfolio</a></li>
    <li><a href="/Blog/">Blog</a></li>
    <li><a href="/Contact/">Contact</a></li>
</ul>