@inherits Umbraco.Web.Macros.PartialViewMacroPage
 
@{
    var home = Model.Content.AncestorsOrSelf().Last();
}
 
@helper Traverse(IPublishedContent node, int pad)
{
    <li>
        <a href="@node.Url">@(!String.IsNullOrWhiteSpace(node.GetPropertyValue<string>("pageName")) ? node.GetPropertyValue<string>("pageName") : !String.IsNullOrWhiteSpace(node.GetPropertyValue<string>("pageTitle")) ? node.GetPropertyValue<string>("pageTitle") : node.Name)</a>
       
        @if (node.Children.Any(n => n.TemplateId > 0 ))
        {
            <ul class="disc">
                @foreach (var n in node.Children.Where(n => n.TemplateId > 0 && !n.GetPropertyValue<bool>("hideFromSitemap")))
                {
                    @Traverse(n, pad + 8)
                }
            </ul>
        }
    </li>
}
<ul class="disc">
    @Traverse(home, 0)
</ul>