@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Sitemap>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Layout.cshtml";

    var m = Umbraco.Media(CurrentPage.Image);

    @section BodyClass {subpage-sitemap}
}

<section class="portfolio-intro">
    <div class="parallax-wrapper">
        <span data-bg="@m.Url" class="hidden"></span>
        <div class="parallax-window" data-parallax="scroll" data-ios-fix="true" data-android-fix="true">
            <div class="row">
                <div class="parallax-content">
                    <h2>@Model.Content.Name</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="project-intro content-padding">
    <div class="row">
        <div class="medium-12 columns">
            @Umbraco.RenderMacro("Sitemap")
        </div>
    </div>
</section>